body {
    padding: 40px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
    color: #00B7FF;
}

img {
    width: auto;
    height: 120px;
}

.input-group>.input-group-prepend {
    flex: 0 0 20%;
}

.input-group .input-group-text {
    width: 100%;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-40 {
    font-size: 40px !important;
}

.font-size-60 {
    font-size: 60px !important;
}

#save_exit {
    background-color: #EF8839 !important;
    border: 1px solid #EF8839 !important;
    color: white !important;
    font-size: 2vw;
}

#sys_title {
    background-color: #D4CADF !important;
    border: 1px solid #D4CADF !important;
    /* color: white !important; */
    font-size: 2vw !important;
}

#quick_key_manual {
    background-color: #C0504D !important;
    border: 1px solid #C0504D !important;
    color: white !important;
    font-size: 2vw;
}

#pause {
    background-color: #368AA0 !important;
    border: 1px solid #368AA0 !important;
    color: white !important;
    font-size: 2vw;
}

#lblTopic {
    background-color: #F1D9D9 !important;
    border: 1px solid #F1D9D9 !important;
    /* color: white !important; */
    font-size: 2vw !important;
}

#text_display {
    background-color: #F79646 !important;
    border: 1px solid #F79646 !important;
    color: white !important;
    font-size: 2vw;
}

#prev_page {
    background-color: #C0504D !important;
    border: 1px solid #C0504D !important;
    color: white !important;
    font-size: 2vw;
}

#next_page {
    background-color: #9BBB59 !important;
    border: 1px solid #9BBB59 !important;
    color: white !important;
    font-size: 2vw;
}

#speak_voice {
    font-size: 2vw !important;
}

#lblNumber {
    font-size: 2vw !important;
}

#lblContent {
    font-size: 2vw !important;
}

#timeClock>span {
    font-size: 2vw !important;
}

#imgShow {
    width: 45vw !important;
    height: 45vw !important;
}

#lblTopicNum {
    font-size: 2vw !important;
    color: red;
}

#eng_text_voice {
    background-color: #9BBB59;
    margin: 5px;
}

#eng_text_2time_voice {
    background-color: #8064A2;
    color: white !important;
    margin: 5px;
}

#zh_text_voice {
    background-color: #C0504D;
    color: white !important;
    margin: 5px;
}

#zh_eng_voice {
    background-color: #EBCACA;
    margin: 5px;
}

#record_voice {
    background-color: #BFD0E6;
    margin: 10px;
    font-size: 2vw !important;
}

#type_word {
    background-color: #FBD5B6;
    margin: 10px;
    font-size: 2vw !important;
}

.type_word {
    background-color: #FBD5B6;
    margin: 10px;
    font-size: 2vw !important;
    width: 70%
}

.type_word_02 {
    background-color: #FBD5B6;
    margin: 10px;
    font-size: 2vw !important;
    width: 70%
}

#rec_01 {
    margin: 10px;
    width: 50%;
}

#rec_02 {
    margin: 10px;
    width: 50%;
}

#type_01 {
  margin: 10px;
  width: 70%;
}

#type_02 {
  margin: 10px;
  width: 70%;
}

#type_03 {
  margin: 10px;
  width: 70%;
}

#view_transcript {
    background-color: #9BBB59 !important;
    border: 1px solid #9BBB59 !important;
    color: white !important;
    font-size: 2vw;
}